- require 'functions'
- require 'ShowNameParse'
%html
  %head
    %title Torrentflow
    %link{ :rel => "stylesheet", :type => "text/css", :href => puburl("/style.css")}
    %script{:language => "javascript"}
      :plain
        var GET_TORRENTS_URL = "#{puburl("/get_torrents")}"
        var GET_ALERTS_URL = "#{puburl("/get_alerts")}"
        var GET_FSINFO_URL = "#{puburl("/get_fsinfo")}"
        var GET_USAGE_URL = "#{puburl("/get_usage")}"
        var GET_FILES_URL = "#{puburl("/get_files")}"
        var MODIFY_FILES_URL = "#{puburl("/modify_files")}"
        var GET_TORRENT_GRAPH_DATA_URL = "#{puburl("/get_torrentgraphdata")}"
        var DOWNLOAD_TORRENT_URL = "#{puburl("/download_torrent")}"
        var DOWNLOAD_MAGNET_URL = "#{puburl("/download_magnet")}"
    %script{:language => "javascript", :src => puburl("prototype.js")} 
    %script{:language => "javascript", :src => puburl("code.js")} 
  %body
    #maindiv_border
      #maindiv
        #title Torrentflow
        - if locals[:error] || locals[:notice]
          %p{ :class => "note" }
            - if locals[:error]
              = locals[:error]
              %br
            - if locals[:notice]
              = locals[:notice]
              %br
        .torrenttabletitle
          %span Downloaded Shows Status
          %br/
        .show_summary_div
          - summaryHash = locals[:summaryHash]
          - if summaryHash
            - summaryHash.keys.sort.each do |k|
              - ranges = summaryHash[k]
              .show_div
                .show_summary_showname
                  = k + ':'
                .show_summary_list
                  - season = nil
                  - comma = true
                  - ranges.each do |r|
                    - if ! season || season != r.season
                      = "<br/>" if season
                      = "  Season #{r.season}: "
                      - season = r.season
                      - comma = false
                    - "," if comma
                    - if r.size > 1
                      = " #{r.startEpisode}-#{r.endEpisode}"
                    - else
                      = " #{r.startEpisode}"
                    - comma = true
                  %br/
